In [39]:
import pandas as pd
from pandas import Series, DataFrame

In [40]:
df = pd.read_csv('supermarkets_data_enriched.csv', usecols= ['id', 'lat', 'lon', 'brand', 'shop'])
print(df)

              id        lat       lon   brand         shop
0       33126515  47.155616  9.037915    Spar  supermarket
1      280130028  47.155492  9.039666    ALDI  supermarket
2     6122906632  47.158959  9.044477  Denner  supermarket
3     9019298862  47.155185  9.038472    Lidl  supermarket
4       36726161  47.226191  8.980329  Migros  supermarket
...          ...        ...       ...     ...          ...
3237  9807355484  46.711465  7.964054     NaN  supermarket
3238  9950926547  47.392404  9.569855    Volg  supermarket
3239  9963973121  47.321761  9.426943    Volg  supermarket
3240  9978766657  47.424524  7.126737     NaN  supermarket
3241  9979931913  46.010662  8.856326     NaN  supermarket

[3242 rows x 5 columns]

### how can i get those rows in which brand is Spar
.loc first agrument i a "row selector" -- it can be a bunch of diffrent types

In [41]:
df.loc[df['brand'] == 'Lidl']
df

              id        lat       lon   brand         shop
0       33126515  47.155616  9.037915    Spar  supermarket
1      280130028  47.155492  9.039666    ALDI  supermarket
2     6122906632  47.158959  9.044477  Denner  supermarket
3     9019298862  47.155185  9.038472    Lidl  supermarket
4       36726161  47.226191  8.980329  Migros  supermarket
...          ...        ...       ...     ...          ...
3237  9807355484  46.711465  7.964054     NaN  supermarket
3238  9950926547  47.392404  9.569855    Volg  supermarket
3239  9963973121  47.321761  9.426943    Volg  supermarket
3240  9978766657  47.424524  7.126737     NaN  supermarket
3241  9979931913  46.010662  8.856326     NaN  supermarket

[3242 rows x 5 columns]